#To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# See docs/Config_Reference.md for a description of parameters.

[virtual_sdcard] 
path: ~/printer_data/gcodes
on_error_gcode: PAUSE

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 12000
minimum_cruise_ratio: 0.5
max_z_velocity: 15
max_z_accel: 100
square_corner_velocity:6

[save_variables]
filename: ~/printer_data/config/saved_variables.cfg

[respond]
[exclude_object]
[display_status]
[pause_resume]

[idle_timeout]
gcode:
    _STATE_OFF
timeout: 1800

[force_move]
enable_force_move: True

[gcode_arcs]
resolution: 0.1

[firmware_retraction]
retract_length         :  0.5
unretract_extra_length :  0
retract_speed          : 20
unretract_speed        : 20

[macro_log]
# TRACE: 0
# DEBUG: 1
# INFO: 2
# WARN: 3
# ERROR: 5
log_level: 2
log_file_level: 0
#format: '%(asctime)s %(message)s'
#date_format: '%H:%M:%S'

[include timelapse.cfg]

[include hardware/*.cfg]

[include macro_config.cfg]

# [include macros/state.cfg]
# [include macros/status.cfg]
# [include macros/misc.cfg]

# [include macros/base/*.cfg]
# [include macros/move/*.cfg]
# [include macros/print/*.cfg]
# [include macros/convenience/*.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 1.600
#*#
#*# [bed_mesh print]
#*# version = 1
#*# points =
#*# 	  -0.125000, -0.200000, -0.242500, -0.197500, -0.020000
#*# 	  0.022500, -0.007500, -0.015000, 0.052500, 0.205000
#*# 	  -0.050000, -0.045000, -0.002500, 0.112500, 0.300000
#*# 	  -0.175000, -0.110000, -0.017500, 0.132500, 0.385000
#*# 	  -0.240000, -0.235000, -0.177500, -0.050000, 0.222500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = bicubic
#*# tension = 0.3
#*# min_x = 17.0
#*# max_x = 285.0
#*# min_y = 15.0
#*# max_y = 282.0
#*#
#*# [input_shaper]
#*# damping_ratio_x = 0.05
#*# damping_ratio_y = 0.1
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 40
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 40
